<div class="alert" [ngClass]="{
    'alert-info': smStatus === 'SUCCESS',
    'alert-warning': smStatus === 'WARNING',
    'alert-danger':smStatus === 'ERROR'}">

  <div *ngIf="!smIsFinal">
    <div *ngIf="smStatus === 'SUCCESS'">
      <div class="row">
        <div class="col-sm-12">
          <p>ID Transazione: <b>{{smTransaction.id}}</b></p>
        </div>
        <div class="col-sm-12">
          <p>Importo: <b>{{smData.amount.currency + " " + smData.amount.currencyCode}}</b></p>
        </div>
        <div class="col-sm-12">
          <p>Commissioni: <b>{{smData.commissions.amount + " " + smData.commissions.currencyCode}}</b></p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="smIsFinal">
    <div class="row">
      <div class="col-sm-12">
        <p>CRO: <b>{{smData.cro}}</b></p>
      </div>
      <div class="col-sm-12">
        <div *ngIf="smMessages.length > 0">
          <div *ngFor="let msg of smMessages">
            <p>{{msg}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="smStatus !== 'SUCCESS'">
    <h5>
      {{smStatus === 'ERROR' ? 'Errore' : 'Attenzione'}}
    </h5>
    <div *ngIf="smMessages.length > 0">
      <div *ngFor="let msg of smMessages">
        <p>{{msg}}</p>
      </div>
    </div>
  </div>
</div>
